<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>起步</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <!-- 指令 -->
        <span v-bind:title="message">
            提示：这里有一个小可爱
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在能看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app-6">
        <!-- 表单验证的双向数据绑定 -->
        <p>{{ message }}</p>
        <input type="text" v-model="message">
    </div>
    <ol id="app-7">
        <!-- 组件模版 -->
        <todo-item
            v-for="item in message"
            v-bind:todo="item"
        ></todo-item>
    </ol>
    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.id }}</li>'
        })
        var app = new Vue({
            el: '#app',
            data: {
                message: '我操'
            }
        })
        app.message = '13';
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载' + new Date()
            }
        })
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: '学校1' },
                    { text: '学校2' },
                    { text: '学校3' },
                    { text: '学校4' }
                ]
            }
        })
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: '你好是'
            },
            methods: {
                reverseMessage: function() {
                    console.log(111)
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: '12'
            }
        })
        var app7 = new Vue({
            el: '#app-7',
            data: {
                message: [
                    { id: 1 },
                    { id: 2 },
                    { id: 3 },
                    { id: 4 },
                ]
            }
        })
        
    </script>
</body>
</html>